@model IEnumerable<real_estate_business.Models.Branch>
@using real_estate_business.Models

@{
    ViewBag.Title  = "Branch";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Branch</title>
</head>
<body>
    <div>
        @{   foreach (Branch branch in Model)
            {
                <h3>@Html.ActionLink(branch.BranchNo, "branchnw", new { bul = branch.BranchNo })</h3>

            }

        } 
      
    </div>
</body>
</html>
