@model IEnumerable<real_estate_business.Models.Branch>
@using real_estate_business.Models

@{
    ViewBag.Title = "Branchnw";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Branchnw</title>
</head>
<body>
    <div>
        <h3>Number of Buildings managed by each Branch:@ViewBag.count</h3>
       
    </div>
</body>
</html>
